<div class="adminPage-container">
    <h2 class="header-item">{{ title }}</h2>
    @if(isMapVisible) {
    <div>
        <app-map-choices-component (closeChoices)="onCloseModal()"></app-map-choices-component>
    </div>
    } @if(isMapVisible === false){
    <button class="button" (click)="navigateToMain()">Retour au menu principal</button>
    } @if(isMapVisible === false){
    <button class="button" (click)="toggleGameCreationModalVisibility()">Créer une nouvelle partie</button>
    } @if(isMapVisible === false){
    <div class="map-list">
        @for(map of this.maps; track map.name) {
        <div class="map-item">
            <h2 class="map-name">{{ map.name }}</h2>
            <p>image de prévisualisation</p>
            <div class="map-description">{{ map.description }}</div>
            <div class="map-info">
                <p class="map-details">Taille : {{ map.mapSize.x }} x {{ map.mapSize.y }}</p>
                <p class="game-details">Mode : {{ map.mode }}</p>
                <p class="map-details">Dernière modification : à ajouter au serveur</p>
                <p class="map-details" (click)="toggleVisibility(map._id!.toString())">
                    Visibilité : @if(map.isVisible) {
                    <span> Publique </span>
                    } @else {
                    <span> Privée </span>
                    }
                </p>
                <button class="edit-button" (click)="editGame(map)">Modifier</button>
                <button class="map-delete" (click)="deleteTriggered[map._id!.toString()] = true">Supprimer</button>
                <div class="map-actions">
                    <button (click)="toggleVisibility(map._id!.toString())">
                        {{ map.isVisible ? 'Cacher' : 'Afficher' }}
                    </button>
                </div>
                @if(deleteTriggered[map._id!.toString()]) {
                <div class="delete-confirmation">
                    <p>Êtes-vous sûr de vouloir supprimer cette carte ?</p>
                    <button class="delete-confirmation-button" (click)="deleteGame(map._id!.toString())">Oui</button>
                    <button class="delete-confirmation-button" (click)="deleteTriggered[map._id!.toString()] = false">Non</button>
                </div>
                }
            </div>
        </div>
        }
    </div>
    }
</div>
