@font-face {
    font-family: 'Press Start 2P';
    src: url('../../../assets/fonts/PressStart2P-Regular.ttf') format('truetype');
}

.adminPage-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 20px;
    background-color: #1c242c;
    font-family: 'Press Start 2P', cursive;
}

.header {
    display: flex;
    text-align: center;
    font-size: 2.5em;
    padding: 20px;
    color: #c0c0c0;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .header-buttons {
        display: flex;
        align-items: center;
    }

    h2 {
        flex-grow: 1;
        font-size: 30px;
        text-align: center;
    }

    .return-button {
        margin-left: auto;
        position: absolute;
        left: 20px;
        align-items: left;
        padding: 12px 20px;
        background-color: #2c3e50;
        border: 3px solid #202020;
        color: white;
        height: 6vh;
        width: 15vw;
        cursor: pointer;
        font-size: 14px;
        font-family: 'Press Start 2P';
    }

    .create-game-button {
        margin-right: auto;
        position: absolute;
        align-items: right;
        right: 20px;
        padding: 12px 20px;
        background-color: #2c3e50;
        border: 3px solid #202020;
        color: white;
        height: 6vh;
        width: 15vw;
        cursor: pointer;
        font-size: 14px;
        font-family: 'Press Start 2P';
    }

    .return-button:hover {
        background-color: #3b3f46;
    }

    .create-game-button:hover {
        background-color: #3b3f46;
    }
}

.map-view {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: auto;
}

.scrollable-container {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: hidden;
    overflow-x: auto;
    width: max-content;
    padding-left: 50px;

    &::-webkit-scrollbar {
        height: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background: #2c3e50;
        border: 1px solid #202020;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.7);
        border: 1px solid #202020;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #2c3e50;
        border-color: #9c9c9c;
    }
}

.map-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0 10px;
    padding: 5px;
    // width: 100%;
    height: 100%;
    padding-left: 50px;

    .map-card {
        width: 30vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: left;
        justify-content: space-between;
        border: 2px solid #7d7f7d;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: rgba(0, 0, 0, 0.7);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 20px;
        transition:
            transform 0.3s,
            border-color 0.3s;

        &:hover {
            border-color: #bdbdbd;
        }

        .map-img {
            width: 100%;
            height: 30vh;
            object-fit: cover;
            border-radius: 5px;
            margin-bottom: 5px;
        }

        .map-details {
            flex-grow: 1;
            padding: 5px;
            overflow: hidden;
            text-align: left;
            align-items: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            justify-content: center;
            max-width: 100%;
            cursor: default;

            h2 {
                font-size: 1.5rem;
                margin-bottom: 20px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                color: #c0c0c0;
                max-width: fit-content;
                white-space: normal;
                word-wrap: break-word;
                text-align: center;
                min-height: 3em;
                line-height: 1.5em;
            }

            .mode,
            .size,
            .lastModified,
            .visibility {
                font-size: 0.7rem;
                margin-bottom: 10px;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: #c0c0c0;
            }

            .description {
                font-size: 0.9rem;
                color: #c0c0c0;
                margin-bottom: 10px;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: #c0c0c0;
            }

            .map-actions {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 10px;
                align-items: left;
                justify-content: left;

                .edit-button,
                .map-delete {
                    padding: 5px 10px;
                    background-color: #2c3e50;
                    border: 3px solid #202020;
                    color: white;
                    height: 5vh;
                    width: 8vw;
                    cursor: pointer;
                    font-size: 0.7rem;
                    font-family: 'Press Start 2P';
                }

                .map-delete:hover {
                    background-color: #3b3f46;
                }

                .edit-button:hover {
                    background-color: #3b3f46;
                }
            }

            .delete-confirmation {
                display: none;
                flex-direction: column;
                text-align: center;
                background-color: #2c3e50;
                border: 3px solid #202020;
                color: white;
                height: 6vh;
                width: 15vw;
                cursor: pointer;
                font-size: 16px;
                font-family: 'Press Start 2P';

                &:hover {
                    background-color: #3b3f46;
                }
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
