<div class="game-map">
    <div class="map-row" *ngFor="let row of map; let rowIndex = index">
        <div class="map-cell" *ngFor="let cell of row; let colIndex = index">
            <img *ngIf="cell.value" [src]="getTileImage(cell.value, rowIndex, colIndex)" alt="Tile" class="grid-tile" />

            <img *ngIf="cell.item" [src]="getItemImage(cell.item)" alt="Item" class="grid-item" />

            <p class="door-state" *ngIf="cell.doorState">Porte: {{ cell.doorState }}</p>
        </div>
    </div>
</div>
