.game-page-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Press Start 2P', sans-serif;
    justify-content: flex-start;
    align-items: center;
    background-color: #3b3b3b;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.game-info-panel {
    width: 400px;
    height: 100vh;
    background-color: #1c242c;
    border-right: 2px solid #202020;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}

.game-info {
    h2 {
        font-size: 14px;
        line-height: 1.2;
        margin-left: 10px;
        margin-bottom: 10px;
        color: #ffffff;
        background-color: #1c242c;
        text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }

    p {
        color: #c0c0c0;
        background-color: #1c242c;
        font-size: 9px;
        margin: 0;
        line-height: 1.5;
        margin-bottom: 8px;
        padding-left: 10px;
    }

    margin-bottom: 10px;
}

.player-info {
    .player-info-header {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    h3 {
        flex-grow: 1;
        padding-left: 10px;
        margin: 0;
        font-size: 16px;
        color: #ffffff;
        line-height: 1.2;
        text-align: center;
    }

    .player-avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 5px;
        margin-right: 10px;
    }

    p {
        color: #c0c0c0;
        font-size: 12px;
        margin: 0;
        margin-bottom: 10px;
        padding-left: 10px;
    }
}

.stat {
    margin-bottom: 15px;
    padding-left: 10px;
}

.stat-label {
    color: #c0c0c0;
    background-color: #1c242c;
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.stat-bar {
    background-color: #1a1d23;
    border: 2px solid #b85c38;
    margin-bottom: 10px;
    height: 15px;
    overflow: hidden;
}
.stat-bar-fill {
    background-color: #f39c12;
    height: 100%;
}

.inventory {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-top: 20px;
    flex-direction: column;

    h3 {
        font-size: 16px;
        margin-bottom: 10px;
        text-align: left;
        padding-left: 10px;
    }
}

.inventory-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    width: 100%;
    flex-direction: row;
}

.inventory-slot {
    height: 100px;
    background-color: #444;
    border: 2px solid #777;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    width: calc(50% - 10px);
}

.empty-slot {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-map-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 375px;
    background-color: #1c242c;
    border-left: 2px solid #202020;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
}

.player-list {
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 15px;
    background-color: #2c3e50;
    border: 2px solid #202020;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    font-family: 'Press Start 2P', sans-serif;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;

    button {
        width: 100%;
        max-width: 300px;
        padding: 12px;
        font-size: 14px;
        font-family: 'Press Start 2P', sans-serif;
        color: #ffffff;
        background-color: #2c3e50;
        border: 2px solid #202020;
        box-shadow: 0px 4px 0px #000;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #3b3b3b;
            color: #f39c12;
            box-shadow: 0px 4px 0px #b85c38;
            border: 2px solid #b85c38;
        }

        &:active {
            box-shadow: none;
            transform: translateY(4px);
        }
    }

    .modal h2 {
        margin-bottom: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        justify-content: center;
        font-size: 1.2rem;
        color: #aa3d3d;
    }

    .modal p {
        font-size: 1.1rem;
        margin-bottom: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #c0c0c0;
        max-width: fit-content;
        white-space: normal;
        word-wrap: break-word;
        text-align: center;
        min-height: 3em;
        line-height: 1.5em;
        font-family: 'Press Start 2P';
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .modal {
        background-color: #1c242c;
        padding: 20px;
        text-align: center;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: 600px;
        max-width: 90%;
        max-height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 4px solid #7d7f7d;
        position: relative;
        z-index: 1001;
    }

    .open-exit-confirmation-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .game-finished-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 24px;
        font-family: 'Press Start 2P', sans-serif;
        color: #c0c0c0;
        font-weight: bold;
        background: none;
        border: none;
    }

    .modal-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        background-color: #2c3e50;
        border: 3px solid #202020;
        color: white;
        cursor: pointer;
        margin-top: 20px;
        font-family: 'Press Start 2P', sans-serif;
        transition: background-color 0.3s ease;
    }

    .modal-button:hover {
        background-color: #3b3f46;
    }

    app-chatroom {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        width: 100%;
        max-height: 150px;
    }
}

.disable-interactions {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    pointer-events: all;
}

.countdown-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    color: #c0c0c0;
    font-family: 'Press Start 2P', sans-serif;
}

.countdown-container h2 {
    margin: 0px;
    font-size: 0.9em;
}

.countdown-container h3 {
    margin: 5px;
    font-size: 0.7em;
}

.countdown-timer {
    font-size: 1.5em;
    color: #f39c12;
    padding: 5px 10px;
    text-align: center;
    border-radius: 8px;
    transition: color 0.3s ease;
}

.pulse {
    animation: pulseEffect 0.5s ease;
}

@keyframes pulseEffect {
    0% {
        transform: scale(1);
        color: #c0c0c0;
    }
    50% {
        transform: scale(1.05);
        color: #f39c12;
    }
    100% {
        transform: scale(1);
        color: #f39c12;
    }
}

.turn-indicator {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    padding: 50px;
    background-color: rgba(128, 128, 128, 0.8);
    font-size: 24px;
    text-align: center;
    z-index: 1001;
}
.turn-indicator h3 {
    color: #f39c12;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it is above other content */
    overflow: hidden; /* Prevent scrolling on the overlay */
}

/* Styles for the modal content */
.modal-content {
    width: 80%;
    height: 80%;
    background-color: #fff; /* Background color for the modal */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid #000; /* Border around the modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
    position: relative;
    overflow: hidden;
}
