<div class="action-bar">
    <div class="left-actions">
        <div class="action-button" (mouseenter)="showDescription('Combattre')" (mouseleave)="hideDescription()" (click)="fight()">
            <div class="tooltip" *ngIf="actionDescription === 'Combattre'">{{ actionDescription }}</div>
            <img src="assets/icons/fight.png" alt="Combat" />
        </div>
        <div class="action-button" (mouseenter)="showDescription('Ouvrir/Fermer une Porte')" (mouseleave)="hideDescription()" (click)="toggleDoor()">
            <div class="tooltip" *ngIf="actionDescription === 'Ouvrir/Fermer une Porte'">{{ actionDescription }}</div>
            <img src="assets/icons/door.png" alt="Porte" />
        </div>
        <div class="action-button" (mouseenter)="showDescription('Détruire un Mur')" (mouseleave)="hideDescription()" (click)="breakWall()">
            <div class="tooltip" *ngIf="actionDescription === 'Détruire un Mur'">{{ actionDescription }}</div>
            <img src="assets/items/grapplinghook.png" alt="Mur" />
        </div>
    </div>

    <div class="right-actions">
        <div class="action-button" (mouseenter)="showDescription('Finir le tour')" (mouseleave)="hideDescription()" (click)="endTurn()">
            <div class="tooltip" *ngIf="actionDescription === 'Finir le tour'">{{ actionDescription }}</div>
            <img src="assets/icons/endturn_icon.png" alt="Finir le tour" />
        </div>
        <div
            class="action-button"
            (mouseenter)="showDescription('Quitter la partie')"
            (mouseleave)="hideDescription()"
            (click)="openExitConfirmationModal()"
        >
            <div class="tooltip" *ngIf="actionDescription === 'Quitter la partie'">{{ actionDescription }}</div>
            <img src="assets/icons/quit_icon.png" alt="Quitter la partie" />
        </div>
    </div>
</div>
