.action-bar {
    position: fixed;
    width: 30vw;
    bottom: 2vw;
    left: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    background-color: #1c242c;
    border-top: 2px solid #b85c38;
}

.left-actions,
.right-actions {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
}

button {
    background-color: #b85c38;
    color: white;
    border: none;
    padding: 0.8vw 1.5vw;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f39c12;
}

.inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
}

.inventory-container {
    display: flex;
    gap: 1vw;
}

.inventory-slot {
    width: 5vw;
    height: 5vw;
    border: 2px dashed #b85c38;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-slot {
    color: #b85c38;
    font-size: 0.9vw;
}

.item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action-button {
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: #1c242c;
    border: 1px solid #b85c38;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.action-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(243, 156, 18, 0.7);
}

.action-button img {
    width: 80%;
    height: 80%;
}

.action-description {
    margin-top: 0.5vw;
    color: #b85c38;
    font-size: 1vw;
    text-align: center;
}
