<div class="chat-container" [class.retracted]="isChatRetracted" [class.waiting-room-chat]="isWaitingRoom" [class.game-page-chat]="isGamePage">
    @if (isWaitingRoom) {
        <div class="chat-header" (click)="toggleChat()">
            <strong>Clavardage</strong>
            <span class="toggle-icon">
                <i [ngClass]="isChatRetracted ? 'fas fa-comments' : 'fas fa-comment-dots'"></i>
            </span>
        </div>
        }
    @if (!isChatRetracted) {
    <section>
        <strong>{{ player.name }}</strong>
        <div id="messageArea" class="message-area">
            <ul id="messageList">
                @for (message of messages; track message) {
                <li>
                    @if (message.author) {
                    <strong class="author">{{ message.author }}:</strong>
                    {{ message.text }}
                    <span class="timestamp">{{ message.timestamp | date: 'HH:mm:ss' }}</span>
                    }
                </li>
                }
            </ul>
        </div>

        <div class="input-container">
            <input
                id="messageInput"
                placeholder="Votre message"
                [(ngModel)]="messageText"
                (keydown.enter)="sendMessage()"
                maxlength="200"
                type="text"
            />
            <button class="send-message-button" (click)="sendMessage()">Envoyer</button>
        </div>
    </section>
    }
</div>