<div class="modal-combat">
    <div class="versus">VS</div>

    <div class="players-modal-container">
        <div class="player player1">
            <p class="player-name">Player.name</p>
            <img class="player-avatar" src="../../assets/characters/1.png" alt="Player 1 avatar" />
            <p class="player-health">Vies restantes: Specs.life</p>
            <p class="player-attack">Attaque: Specs.attack</p>
            <p class="player-defense">Défense: Specs.defense</p>
        </div>
        <img class="dice" src="../../../assets/gear.png" alt="Dice" />
        <img class="dice" src="../../../assets/gear.png" alt="Dice" />

        <div class="player player2">
            <p class="player-name">Player.name</p>
            <img class="player-avatar" src="../../assets/characters/2.png" alt="Player 2 avatar" />
            <p class="player-health">Vies restantes: Specs.life</p>
            <p class="player-attack">Attaque: Specs.attack</p>
            <p class="player-defense">Défense: Specs.defense</p>
        </div>
    </div>
    <div class="button-container">
        <button class="attack-button">Attaquer</button>
        <button class="evade-button">Évasion</button>
    </div>
</div>
