<div class="modal-combat">
    <div class="versus">VS</div>
    <div class="countdown">{{ countdown }}</div>

    <div class="players-modal-container">
        <div class="player player1">
            <p class="player-name">{{ player.name }}</p>
            <img class="player-avatar" src="./assets/characters/{{ player.avatar }}.png" alt="Player 1 avatar" />
            <p class="player-health">Vies restantes: {{ player.specs.life }}</p>
            <p class="player-evasion">Tentatives d'évasions restantes {{ player.specs.evasions }}</p>
        </div>

        @if("attacking === true") {
        <p class="dice">{{ attackTotal }}</p>
        <p class="dice">{{ defenseTotal }}</p>
        } @else if("attacking === false") {
        <p class="dice">{{ defenseTotal }}</p>
        <p class="dice">{{ attackTotal }}</p>
        }
        <div class="player player2">
            <p class="player-name">{{ opponent.name }}</p>
            <img class="player-avatar" src="./assets/characters/{{ opponent.avatar }}.png" alt="Player 2 avatar" />
            <p class="player-health">Vies restantes: {{ opponent.specs.life }}</p>
            <p class="player-evasion">Tentatives d'évasion restantes {{ opponent.specs.evasions }}</p>
        </div>
    </div>
    @if (isYourTurn) {
    <div class="button-container">
        <button class="attack-button" (click)="attack()">Attaquer</button>
        <button class="evade-button" (click)="evade()">Évasion</button>
    </div>
    }
    <div>
        <p>{{ turnMessage }}</p>
        <p>{{ combatMessage }}</p>
    </div>
</div>
