<div class="character-page-container">
    <div class="character-selection-container">
        <div class="return-to-previous-page">
            <button class="return-button" (click)="onReturn()">Retour</button>
        </div>
        <div class="left-side">
            <div class="player-stats">
                <h2 class="character-name">
                    @if(!isEditing){
                    <span>{{ characterName }}</span
                    >} @if(isEditing){
                    <input
                        [(ngModel)]="characterName"
                        class="character-name-input"
                        (blur)="stopEditing()"
                        placeholder="Choisis ton nom"
                        (keydown.enter)="stopEditing()"
                        maxlength="25"
                    />
                    }

                    <button class="edit-icon" (click)="toggleEditing()">
                        @if(isEditing) {<i class="fas fa-save"></i>} @else { <i class="fas fa-pencil-alt"></i>}
                    </button>
                </h2>
                <div class="stats">
                    <div class="stat">
                        <label class="stat-label" data-title="Le nombre de points de vie du personnage."> Vie : {{ life }} PV </label>
                        <div class="stat-bar">
                            <div class="stat-bar-fill" [style.width.%]="(life / 10) * 100"></div>
                        </div>
                    </div>
                    <div class="stat">
                        <label class="stat-label" data-title="Correspond aux points de mouvement par tour d’un personnage."
                            >Rapidité : {{ speed }} PTS</label
                        >
                        <div class="stat-bar">
                            <div class="stat-bar-fill" [style.width.%]="(speed / 10) * 100"></div>
                        </div>
                    </div>
                    <div class="stat">
                        <label class="stat-label" data-title="Représente la force avec laquelle une attaque est faite sur l’adversaire."
                            >Attaque : {{ attack }} PTS</label
                        >
                        <div class="stat-bar">
                            <div class="stat-bar-fill" [style.width.%]="(attack / 10) * 100"></div>
                        </div>
                    </div>
                    <div class="stat"></div>
                    <label class="stat-label" data-title="Représente la capacité à bloquer l’attaque d’un adversaire."
                        >Défense : {{ defense }} PTS</label
                    >
                    <div class="stat-bar">
                        <div class="stat-bar-fill" [style.width.%]="(defense / 10) * 100"></div>
                    </div>
                </div>
                <div class="bonus-text">
                    <label>Ajoutes un bonus +2: </label>
                </div>
                <div class="bonus-buttons-container">
                    <div class="bonus-button" [ngClass]="{ selected: lifeOrSpeedBonus === 'life' }">
                        <input
                            type="radio"
                            id="life"
                            [(ngModel)]="lifeOrSpeedBonus"
                            name="lifeOrSpeedBonus"
                            value="life"
                            (change)="addBonus()"
                            hidden
                        />
                        <label for="life">Vie</label>
                    </div>
                    <div class="bonus-button" [ngClass]="{ selected: lifeOrSpeedBonus === 'speed' }">
                        <input
                            type="radio"
                            id="speed"
                            [(ngModel)]="lifeOrSpeedBonus"
                            name="lifeOrSpeedBonus"
                            value="speed"
                            (change)="addBonus()"
                            hidden
                        />
                        <label for="speed">Rapidité</label>
                    </div>
                </div>
                <label>Attributs un dé à 6 faces: </label>
                <div class="dice-buttons-container">
                    <div class="dice-and-buttons-wrapper">
                        <div class="dice-button" [ngClass]="{ selected: attackOrDefenseBonus === 'attack' }">
                            <input
                                type="radio"
                                id="attack"
                                [(ngModel)]="attackOrDefenseBonus"
                                name="attackOrDefenseBonus"
                                value="attack"
                                (change)="assignDice()"
                                hidden
                            />
                            <label for="attack"> Attaque </label>
                        </div>
                        <div class="dice-icon">
                            @if(attackBonus === Bonus.D4) {
                            <i class="fas fa-dice-four"></i>} @if(attackBonus === Bonus.D6) { <i class="fas fa-dice-six"></i>}
                        </div>
                    </div>
                    <div class="dice-and-buttons-wrapper">
                        <div class="dice-button" [ngClass]="{ selected: attackOrDefenseBonus === 'defense' }">
                            <input
                                type="radio"
                                id="defense"
                                [(ngModel)]="attackOrDefenseBonus"
                                name="attackOrDefenseBonus"
                                value="defense"
                                (change)="assignDice()"
                                hidden
                            />
                            <label for="defense">Defense </label>
                        </div>
                        <div class="dice-icon">
                            @if(defenseBonus === Bonus.D4) {
                            <i class="fas fa-dice-four"></i>} @if(defenseBonus === Bonus.D6) { <i class="fas fa-dice-six"></i>}
                        </div>
                    </div>
                </div>
            </div>
            <div class="hover-explanation">
                <span>Placez votre souris sur chacun des attributs pour voir leur description.</span>
            </div>
        </div>

        <div class="character-display">
            <button class="arrow-button left-arrow" (click)="previousCharacter()">&#9664;</button>
            <div class="selected-character">
                <h1>CHOISIS TON AVATAR</h1>
                <img [src]="selectedCharacter.image" alt="Selected Character" />
                <button class="start-button" (click)="onSubmit()">Créer une partie</button>
                @if (showErrorMessage.characterNameError) {
                <div class="error-message">Choisissez votre nom de joueur</div>
                } @if (showErrorMessage.bonusError) {
                <div class="error-message">Ajoutez le bonus (+2 Vie ou Rapidité)</div>
                } @if (showErrorMessage.diceError) {
                <div class="error-message">Attribuez un dé (D6 Attaque ou Défense)</div>
                } @if (showErrorMessage.selectionError) {
                <div class="error-message">Le jeu selectionné n'est plus disponible. Vous serez bientôt redirigé.</div>
                }
            </div>
            <button class="arrow-button right-arrow" (click)="nextCharacter()">&#9654;</button>
        </div>

        <div class="character-list">
            @for(character of characters; track character) {
            <div class="character-box" (click)="selectCharacter(character)" [ngClass]="{ 'selected-character': character === selectedCharacter }">
                <img [src]="character.preview" alt="{{ character.name }}" />
            </div>
            }
        </div>
    </div>
</div>
