<div class="game-map">
    <div class="map-row" *ngFor="let row of Map; let rowIndex = index">
        <div
            class="map-cell"
            *ngFor="let cell of row; let colIndex = index"
            [class.highlight]="isMove(rowIndex, colIndex)"
            [class.preview-highlight]="isPreview(rowIndex, colIndex)"
            (mouseover)="onTileHover({ x: rowIndex, y: colIndex })"
            (mouseleave)="clearPreview()"
        >
            @if(cell.value) {
            <img [src]="getTileImage(cell.value, rowIndex, colIndex)" alt="Tile" class="grid-tile" />
            } @if(cell.item) {
            <img [src]="getItemImage(cell.item)" alt="Item" class="grid-item" />
            } @if(cell.doorState) {
            <img [src]="getTileImage(cell.value, rowIndex, colIndex)" alt="Item" class="grid-item" />
            } @if(cell.player) {
            <img [src]="getAvatarImage(cell.player)" alt="Player" class="grid-item" />}
        </div>
    </div>
</div>
