<div class="game-map">
    <div class="map-row" *ngFor="let row of map; let rowIndex = index">
        <div class="map-cell" *ngFor="let cell of row; let colIndex = index">
            @if(cell.value) {
            <img [src]="getTileImage(cell.value, rowIndex, colIndex)" alt="Tile" class="grid-tile" />
            } @if(cell.item) {
            <img [src]="getItemImage(cell.item)" alt="Item" class="grid-item" />
            } @if(cell.doorState) {
            <p class="door-state">Porte: {{ cell.doorState }}</p>
            }
        </div>
    </div>
</div>
