<div class="game-map">
    <div class="map-row" *ngFor="let row of Map; let rowIndex = index">
        <div
            class="map-cell"
            *ngFor="let cell of row; let colIndex = index"
            [class.highlight]="isMove(rowIndex, colIndex)"
            [class.preview-highlight]="isPreview(rowIndex, colIndex)"
            (mouseover)="onTileHover({ x: rowIndex, y: colIndex })"
            (mouseleave)="clearPreview()"
            (click)="onTileClick({ x: rowIndex, y: colIndex })"
            (contextmenu)="$event.preventDefault()"
            (mousedown)="onRightClickTile($event, { x: rowIndex, y: colIndex })"
        >
            @if(cell.value) {
            <img [src]="getTileImage(cell.value, rowIndex, colIndex)" alt="Tile" class="grid-tile" />
            } @if(cell.item) {
            <img [src]="getItemImage(cell.item)" alt="Item" class="grid-item" />
            <!-- } @if(cell.item == "starting-point") {
            <img [src]="getTileImage(cell.value, rowIndex, colIndex)" alt="Tile" class="grid-item" /> -->
            } @if(cell.player) {
            <img [src]="getAvatarImage(cell.player)" alt="Player" class="grid-item" />}
        </div>
    </div>
</div>
@if(explanationIsVisible) {
<div class="tooltip" [style.top.px]="tooltipY" [style.left.px]="tooltipX">
    {{ tileDescription }}
</div>
}
