<div class="game-players-list">
    @for (player of players ; track player.socketId) {
    <div
        class="player"
        [ngClass]="{
            'active-player': player.name === currentPlayerTurn,
            'player-left': !isPlayerActive(player)
        }"
    >
        <div class="avatar-container">
            <img [src]="getAvatarPreview(player.avatar)" alt="{{ player.name }}" class="avatar" />
        </div>

        <div class="player-info">
            <span
                >{{ player.name }} - {{ player.specs.nVictories }} victoires @if (isHostPlayer(player.socketId)) {
                <span class="host-icon">👑</span>
                } @if (isPlayerFlagDetentor(player)) {
                <span class="flag-icon">🚩</span>
                } @if (player.isVirtual) {
                <span class="virtual-player-icon">🤖</span>
                }
            </span>
        </div>
    </div>
    }
</div>
