body {
    margin: 0;
    padding: 0;
    background-image: url('../../../assets/mainmenu/output.jpg');
    background-size: cover;
    background-position: center;
}

.mainpage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.game-logo {
    width: 600px;
    height: auto;
    margin-bottom: 50px;
}

.button-section {
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #222;
    color: #fff;
    font-size: 20px;
    padding: 15px;
    margin: 10px;
    border: none;
    width: 300
}