<div class="mainPage-container">
    <h1 class="header-item">{{ title }}</h1>
    <img [src]="logoPath" alt="Logo Projet" class ="game-logo"/>

    <div class="button-section">
        <button class="disabled">Join Game</button>
            <button class="button" (click)="navigateToCreateGame()">Start New Game</button>
            <button class="button" (click)="navigateToAdmin()">Admin</button>
        </div>

    <footer class="footer-item">
        <h4 class="team-number">{{teamNumber}}</h4>
        <p> {{developers.join (', ')}}</p>
    </footer>
</div>
