<div class="journal-container">
    <div class="journal-header">
        <h1>Journal de jeu</h1>
    </div>
    <label for="dropdown">Filtrer</label>
    <select value="filter" id="dropdown" onchange="toggleShowAll()">
        <option value="all">Tous les joueurs</option>
        <option value="involved-only">Mes événements</option>
    </select>
    <div class="journal-body"></div>
    <ul>
        @for (entry of journalEntries$ | async; track entry.timeStamp) {
        <li>{{ entry.message }} ({{ entry.timeStamp }})</li>

        }
    </ul>
    <!-- @if(showAll){
    <div class="journal-entry">
        <div class="journal-entry-header">
            <h2>Événement</h2>
            <h2>Heure</h2>
        </div>
        <div class="journal-entry-body">
            <p>Événement 1</p>
            <p>Heure 1</p>
        </div>
    </div>
    } @else if (showAll === false) {
    <div class="journal-entry">
        <div class="journal-entry-header">
            <h2>Mon Événement</h2>
            <h2>Heure</h2>
        </div>
        <div class="journal-entry-body">
            <p>Mon Événement 1</p>
            <p>Heure 1</p>
        </div>
    </div>
    } -->
</div>
