<div class="journal-container">
    <div class="journal-header">
        <h1>Journal de jeu</h1>
    </div>
    <div class="journal-filter">
        <label for="dropdown">Filtrer</label>
        <select [(ngModel)]="filter" (change)="toggleShowAll()" id="dropdown">
            <option value="all">Tous les joueurs</option>
            <option value="involved-only">Mes événements</option>
        </select>
    </div>
    <div class="journal-body"></div>
    <ul id="journalList">
        @for (entry of filteredJournalEntries; track entry) {
        <li>
            {{ entry.message }} <span class="timestamp">{{ entry.timestamp | date: 'HH:mm:ss' }}</span>
        </li>
        }
    </ul>
</div>
