<div class="create-game-component">
    <div class="header">
        <h2>CHOISIS TON JEU</h2>
    </div>

    <div class="map-view">
        <div class="scrollable-container">
            <div class="map-cards">
                <div class="map-card" *ngFor="let map of maps" [ngClass]="{ selected: selectedMap === map.name }" (click)="selectMap(map.name)">
                    <img src="../../../assets/map-preview/map-preview.png" alt="map-preview" class="map-img" />
                    <div class="map-details">
                        <p class="description">description de la map</p>
                        <p class="mode">Mode de jeu</p>
                        <h2 class="name">{{ map.name }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <button class="next-button" (click)="next(selectedMap)">Suivant</button>
    </div>
</div>
