<div class="endgame-container">
    <div class="stats-container">
        <h1>Fin de partie</h1>
        <table id="stats-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Nom</th>
                    <th>
                        <p>Combats</p>
                        <p (click)="endgameService.sortTable(2)">X</p>
                    </th>
                    <th>
                        <p>Évasions</p>
                        <p (click)="endgameService.sortTable(3)">X</p>
                    </th>
                    <th>
                        <p>Victoires</p>
                        <p (click)="endgameService.sortTable(4)">X</p>
                    </th>
                    <th>
                        <p>Défaites</p>
                        <p (click)="endgameService.sortTable(5)">X</p>
                    </th>
                    <th>
                        <p>Vie perdue</p>
                        <p (click)="endgameService.sortTable(6)">X</p>
                    </th>
                    <th>
                        <p>Vie infligée</p>
                        <p (click)="endgameService.sortTable(7)">X</p>
                    </th>
                    <th>
                        <p>Objets ramassés</p>
                        <p (click)="endgameService.sortTable(8)">X</p>
                    </th>
                    <th>
                        <p>Tuiles visitées</p>
                        <p (click)="endgameService.sortTable(9)">X</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (gamePlayer of players; track gamePlayer.socketId) {
                <tr>
                    <td><img [src]="getAvatarPreview(gamePlayer.avatar)" class="player-avatar" alt="avatar" /></td>
                    <td>{{ gamePlayer.name }}</td>
                    <td>{{ gamePlayer.specs.nCombats }}</td>
                    <td>{{ gamePlayer.specs.nEvasions }}</td>
                    <td>{{ gamePlayer.specs.nVictories }}</td>
                    <td>{{ gamePlayer.specs.nDefeats }}</td>
                    <td>{{ gamePlayer.specs.nLifeLost }}</td>
                    <td>{{ gamePlayer.specs.nLifeTaken }}</td>
                    <td>{{ gamePlayer.specs.nItemsUsed }}</td>
                    <td>{{ endgameService.getPlayerTilePercentage(gamePlayer, game) }}%</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="chatroom-container">
        <app-chatroom [playerName]="player.name" [gameId]="game.id"></app-chatroom>
    </div>
    <div class="global-stats-container">
        <h1>Statistiques globales de la partie</h1>
        <p>Durée de la partie : {{ endgameService.gameDurationInMinutes(game.duration) }}</p>
        <p>Tours de jeu : {{ game.nTurns }}</p>
        <p>Pourcentage total de tuiles visitées : {{ endgameService.gameTilePercentage(game) }}%</p>
        <p>Pourcentage total des portes manipulées : {{ endgameService.gameDoorPercentage(game) }}%</p>
        <!-- @if (game.mode === Mode.Ctf) { -->
        <!-- <p>Nombre de joueurs différents ayant détenu le drapeau : {{game.}}</p> -->
        <!-- } -->
    </div>
    <div class="exit-button-container">
        <button (click)="navigateToMain()">Menu principal</button>
    </div>
</div>
