<div class="endgame-container">
    <div class="stats-container">
        <p>Fin de partie</p>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Nom</th>
                    <th>Nombre de combats</th>
                    <th>Nombre d'évasions</th>
                    <th>Nombre de victoires</th>
                    <th>Nombre de défaites</th>
                    <th>Nombre de vie perdus</th>
                    <th>Total points de vie enlevés aux adversaires</th>
                    <th>Nombre d'objets ramassés</th>
                    <th>Pourcentage des tuiles visitées</th>
                </tr>
            </thead>
            <tbody>
                @for (gamePlayer of players; track gamePlayer) {
                <tr>
                    <td><img [src]="getAvatarPreview(gamePlayer.avatar)" alt="{{ gamePlayer.name }}'s avatar" class="player-avatar" /></td>
                    <td>{{ gamePlayer.name }}</td>
                    <td>{{ gamePlayer.specs.nCombats }}</td>
                    <td>{{ gamePlayer.specs.nEvasions }}</td>
                    <td>{{ gamePlayer.specs.nVictories }}</td>
                    <td>{{ gamePlayer.specs.nDefeats }}</td>
                    <td>{{ gamePlayer.specs.nLifeLost }}</td>
                    <td>{{ gamePlayer.specs.nLifeTaken }}</td>
                    <td>TODO</td>
                    <td>TODO</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="chatroom-container">
        <app-chatroom [player]="player" [gameId]="game.id"></app-chatroom>
    </div>
    <div class="global-stats-container">
        <h1>Statistiques globales de la partie</h1>
        <p>Durée de la partie :</p>
        <p>Pourcentage total de tuiles visitées : TODO</p>
        <p>Pourcentage total des portes manipulées : TODO</p>
        <!-- <p>Pourcentage total des portes manipulées : {{ game.nDoorsManipulated }}</p> -->
        <!-- @if (game.mode === Mode.Ctf) { -->
        <!-- <p>Nombre de joueurs différents ayant détenu le drapeau : {{game.}}</p> -->
        <!-- } -->
    </div>
    <div class="exit-button-container">
        <button (click)="navigateToMain()">Retourner au menu principal</button>
    </div>
</div>
