<body>
    <div class="waiting-room-container">
        <div class="player">
            <div class="avatar-container">
                <img [src]="playerPreview" alt="Player Avatar" />
            </div>
            <div class="player-name">
                <h1>{{ playerName }}</h1>
            </div>
        </div>

        <div class="exit-button">
            <button (click)="exitGame()">Quitter la partie</button>
        </div>

        @if (isHost) {
        <div class="start-game-button">
            <button [disabled]="!isStartable">Commencer la partie</button>
        </div>
        }
        <div class="player-waiting">
            <h2>La salle d'attente est {{ isGameLocked ? 'fermée' : 'ouverte' }}.</h2>
        </div>
        <div class="game">
            <div class="game-details">
                <div class="game-code">
                    <p>Code:</p>
                    <h1>{{ waitingRoomCode }}</h1>
                </div>
                <div class="game-map">
                    <p>Carte:</p>
                    <h1>{{ mapName }}</h1>
                </div>
            </div>
            <div class="players-list">
                <app-players-list></app-players-list>
            </div>
            <div class="player-waiting">
                <h2>En attente d'autres joueurs...</h2>
                <div class="gear-animation">
                    <img src="assets/gear.png" alt="Gear Animation" />
                </div>
            </div>
        </div>
        <div class="chat-container">
            <app-chatroom [player]="player" [gameId]="waitingRoomCode"></app-chatroom>
        </div>
    </div>
</body>
