body {
    background-color: #1c242c;
    font-family: 'Press Start 2P', 'cursive';
    color: #e6e6e6;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.waiting-room-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
}

.player-avatar {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10vw;
}

.player-avatar img {
    border-radius: 50%;
    border: 3px solid #f39c12;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.exit-button {
    position: absolute;
    bottom: -10px;
}

.exit-button button {
    background-color: #2c3e50;
    border: 3px solid #202020;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Press Start 2P', sans-serif;
    transition: background-color 0.4s;
    cursor: pointer;
    width: 100%;
}

.game {
    margin-top: 5vw;
    width: 50vw;
    text-align: center;
}

.game-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

.game-code,
.game-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #3b3f46 30%, #282c34 100%);
    padding: 10px;
    flex: 1;
    border-top: 4px solid #b5651d;
}

.game-code {
    border-left: 4px solid #b5651d;
    border-right: 2px solid #b5651d;
}

.game-map {
    border-right: 4px solid #b5651d;
    border-left: 2px solid #b5651d;
}

.game-code p,
.game-map p {
    margin: 0;
    font-size: 18px;
}

.game-code h1,
.game-map h1 {
    margin: 5px 0;
    font-size: 36px;
    font-weight: bold;
}

.player-waiting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.gear-animation img {
    width: 5vw;
    aspect-ratio: 1/1;
    margin-left: 10px;
    animation: rotate-gear 6s infinite linear;
}

@keyframes rotate-gear {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.player-waiting h2 {
    color: #f39c12;
    font-size: 1.2rem;
    margin: 0;
}

.chat-container {
    position: absolute;
    right: 0;
    top: 14%;
    width: 350px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #1c242c;
}
