<div class="create-game-view">
    <div class="titles">
        <h2>Create a New Game!</h2>
        <strong>List of available Games: </strong>

        <div class="game-list">
            <div *ngFor="let game of availableGames" class="game-box" (click)="selectGame(game)">
                <div class="image-container">
                    <!-- <img [src]="game.mapPreview" alt="Game Map Preview" class="game-map-preview" /> -->
                </div>
                <div class="game-info">
                    <h3>{{ game.name }}</h3>
                    <p>Map Size: {{ game.mapSize }}</p>
                    <p>Game Mode: {{ game.gameMode }}</p>
                    <p>Last Modified: {{ game.lastModified }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
