@font-face {
    font-family: 'Press Start 2P';
    src: url('../../../assets/fonts/PressStart2P-Regular.ttf') format('truetype');
}

.create-game-component {
    font-family: 'Press Start 2P', cursive;
    background-color: #111;
    width: 100vh;
    height: 100vh;
    overflow: hidden;

    .header {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;

        .header-h2 {
            background-color: transparent;
            border: none;
            color: white;
            font-size: 18px;
            padding: 10px 20px;
        }
    }
    .map-view-selection {
        color: white;
        padding: 20px;

        .map-cards {
            display: flex;
            justify-content: space-between;

            .map-card {
                background-color: #1d1d1d;
                border: 1px solid #333;
                width: 30%;
                padding: 15px;
                text-align: center;

                .map-img {
                    width: 100%;
                    height: 150px;
                    object-fit: cover;
                }

                .map-details {
                    margin-top: 10px;

                    .name {
                        color: #fff;
                        margin-bottom: 5px;
                    }

                    .description {
                        color: #ccc;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }

    .next-button {
        background-color: orange;
        border: none;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        font-family: 'Press Start 2P', cursive;

        &:hover {
            background-color: #ff6700;
        }
    }
}
