@if(!delayFinished) {
<div class="disable-interactions"></div>
<div class="turn-indicator">
    <h3>C'est au tour de {{ currentPlayerTurn }} dans</h3>
    <span class="countdown-timer" [ngClass]="{ pulse: isPulsing }">{{ startTurnCountdown }}</span>
</div>
} @if(youFell) {
<div class="disable-interactions"></div>
<div class="turn-indicator"><h3>Vous êtes tombé, votre tour est fini.</h3></div>
}
<div class="game-page-container">
    <div class="game-info-panel">
        <app-player-infos></app-player-infos>
        <div class="game-info">
            <h2>Informations de la partie</h2>
            <div class="info-item">
                <p>Taille de la carte :</p>
                <span>{{ mapConversionService.convertNumberToString(game.mapSize.x) }}</span>
            </div>
            <div class="info-item">
                <p>Nombre de joueurs :</p>
                <span>{{ 10 }}</span>
            </div>
            <div class="info-item">
                <p>Joueur Actif :</p>
                <span>{{ player.name }}</span>
            </div>
        </div>
    </div>
    <!-- @if(combatAvailable) {
    <app-combat-list class="combat-list" [possibleOpponents]="possibleOpponents"></app-combat-list>
    } -->

    <div class="game-map-container">
        <app-game-map> </app-game-map>
    </div>

    <app-game-players-list
        [players]="game.players"
        [hostSocketId]="game.hostSocketId"
        [currentPlayerTurn]="currentPlayerTurn"
    ></app-game-players-list>

    <div class="top-container">
        <div class="countdown-endturn-container">
            <div class="countdown-timer">
                <div class="timer-circle">
                    <svg viewBox="0 0 36 36">
                        <circle class="background-circle" cx="18" cy="18" r="16"></circle>
                        <circle
                            class="progress-circle"
                            cx="18"
                            cy="18"
                            r="16"
                            [attr.stroke-dashoffset]="dashOffset"
                            [style.stroke-dasharray]="dashArray"
                        ></circle>
                    </svg>
                    <div class="timer-text">
                        <h3>{{ countdown }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-right-container">
        <div class="toggle-container">
            <button [class.active]="activeView === GamePageActiveView.Chat" (click)="toggleView(GamePageActiveView.Chat)">Clavardage</button>
            <button [class.active]="activeView === GamePageActiveView.Journal" (click)="toggleView(GamePageActiveView.Journal)">Journal</button>
        </div>
        <div class="chat-and-journal-container">
            <div class="game-chat" [class.hidden]="activeView !== GamePageActiveView.Chat">
                <app-chatroom [playerName]="player.name" [gameId]="game.id"></app-chatroom>
            </div>
            <div class="journal" [class.hidden]="activeView !== GamePageActiveView.Journal">
                <app-journal [player]="player"></app-journal>
            </div>
        </div>
    </div>
    <div class="actions-container">
        <app-actions-component [player]="player"></app-actions-component>
        <div class="actions-info">
            <div class="actions">
                <p>Actions restantes: {{ player.specs.actions }}</p>
                <p>Mouvements restants: {{ player.specs.movePoints }}</p>
            </div>
        </div>
    </div>
</div>
