.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
}

.form-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

.characters-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.character {
    text-align: center;
}

label {
    cursor: pointer;
}

.character img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    transition:
        transform 0.2s ease-in-out,
        border 0.2s ease-in-out;
    cursor: pointer;
}

input[type='radio'] {
    display: none;
}

input[type='radio']:checked + label img {
    border: 3px solid black;
    transform: scale(1.1);
}

.attributes-section {
    line-height: 2;
}

.attribute {
    border-radius: 5px;
}

.attribute[title] {
    position: relative;
    cursor: help;
}

.attribute[title]::after {
    content: attr(title);
    position: absolute;
    left: 50%;
    bottom: 125%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition:
        opacity 0.2s,
        visibility 0.2s;
}

.attribute:hover::after {
    opacity: 1;
    visibility: visible;
}

.bonus-selection,
.dice-assignment {
    margin-top: 20px;
    text-align: left;
}

.bonus-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 10px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
