<div class="control-bar">
  <div class="info-section">
    <div>
      <span *ngIf="!isEditingTitle">{{ mapTitle }}</span>
      <input *ngIf="isEditingTitle" [(ngModel)]="mapTitle" id="map-title" type="text">
      <button (click)="toggleEditTitle()">{{ isEditingTitle ? 'Save' : 'Edit' }}</button>
    </div>

    <div>
      <span *ngIf="!isEditingDescription">{{ mapDescription }}</span>
      <input *ngIf="isEditingDescription" [(ngModel)]="mapDescription" id="map-description" type="text">
      <button (click)="toggleEditDescription()">{{ isEditingDescription ? 'Save' : 'Edit' }}</button>
    </div>
  </div>

  <div class="button-section">
    <button (click)="resetMap()">Reset</button>
    <button (click)="createMap()">Save</button>
  </div>
</div>